<div class="container-fluid banner">
<div class="container p-4 my-3 text-white" style="max-width: 600px;">
    <h2 class="textual"> User Registration</h2>
<form #Registerform="ngForm" (ngSubmit)="registerUser()">
    <div class="form-group">    
        <!--First Name-->
      <label for="firstName">First Name:</label>
      <input type="text" class="form-control"  placeholder="Enter First Name" name="firstName" [(ngModel)]="user.firstName"
      required #firstName="ngModel" [class.is-invalid]="firstName.invalid && firstName.touched"> 
      <!--we can use propertities of ng model -->
      <small class="text-danger" [class.d-none]="firstName.valid || firstName.untouched">First Name is reguired field</small>
    </div>

    <div class="form-group">
     <!--Last Name-->
      <label for="lastName">Last Name:</label>
      <input type="text" class="form-control"  placeholder="Enter Last Name" name="lastName" [(ngModel)]="user.lastName"
      required #lastName="ngModel" [class.is-invalid]="lastName.invalid && lastName.touched"> 
      <small class="text-danger" [class.d-none]="lastName.valid || lastName.untouched">Last Name is reguired field</small>
    </div>

    <div class="form-group">    
        <!--email-->
          <label for="email">Email:</label>
          <input type="email" class="form-control"  placeholder="Enter email" name="email" [(ngModel)]="user.email"
          required #email="ngModel" [class.is-invalid]="email.invalid && email.touched"
          required pattern="^[a-zA-Z0-9+_.-]+@[a-zA-Z0-9.-]+$">
    
          <div *ngIf= "email.errors && (email.invalid && email.touched) ">
            <!--for required-->
            <small class="text-danger" *ngIf="email.errors.required">Email-id is reguired field</small>
            <!-- it is for pattern-->
            <small class="text-danger" *ngIf="email.errors.pattern">Enter the valid Email-id</small>
          </div>
        </div>


    <div class="form-group">
        <!--password-->
      <label for="pwd">Password:</label>
      <input type="password" class="form-control"  placeholder="Enter password" name="password" [(ngModel)]="user.password"
      required #password="ngModel" [class.is-invalid]="password.invalid && password.touched">
      <small class="text-danger" [class.d-none]="password.valid || password.untouched">Password is reguired field</small>
    </div>

    <div class="form-group">
        <!-- confirm password-->
      <label for="pwd">Confirm Password:</label>
      <input type="password" class="form-control"  placeholder="Enter confirm password" name="cpassword" (ngModel)="user.password"
      required #cpassword="ngModel" [class.is-invalid]="cpassword.invalid && cpassword.touched"><!--here we used only one way binding-->
      <small class="text-danger" [class.d-none]="(cpassword.value == password.value) || cpassword.untouched">Password is reguired field</small>
    </div>

    <div class="text-danger">{{msg}}</div><!--red text class from bootstrap (text-danger)-->

    <button type="submit" class="btn btn-info">Register</button>
    <div>
      <small class="float-right btextual" [routerLink]="['/login']"> New user ?Login here</small>
    </div>
  </form>
  <!--<small class="float-right" (click)="gotoregistration()"> New user ? register here</small>-->
  <!--bootstrap class to float right-->
  <!--or-->
</div>
